<!-- views/create.ejs -->

<form method="post" action="/api-v2/" id="submit-link">
    <label for="url">Type the URL to shorten</label>
    <input name="url" id="url" type="url" placeholder="https://perdu.com" />
    <button type="submit">Submit</button>
  </form>
  